package {{ .Resource }}

import domain "{{ .ModuleName }}/internal/domain/{{ .Domain }}/{{ .Resource }}"

type {{ .ModulePascal }}DTO struct {
	ID     string `json:"id"`
	Active bool   `json:"active"`
}

func ToDTO(agg *domain.Aggregate) {{ .ModulePascal }}DTO {
	r := agg.Root()
	return {{ .ModulePascal }}DTO{ID: r.ID(), Active: r.Active()}
}
