package {{ .ModuleSnake }}

import (
	"context"

	domain "{{ .ModuleName }}/internal/domain/{{ .ModuleSnake }}"
)

// pgRepository 基于 sqlx + squirrel 实现 domain.Repository（database.orm: sqlx）。
type pgRepository struct{}

func NewPGRepository() domain.Repository {
	return &pgRepository{}
}

func (r *pgRepository) Save(ctx context.Context, entity domain.{{ .ModulePascal }}) error {
	return nil
}
