package {{ .ModuleSnake }}

import "github.com/gin-gonic/gin"

func RegisterRoutes(r *gin.RouterGroup, h *Handler) {
	g := r.Group("/{{ .ModuleSnake }}")
	g.GET("/:id", h.Get)
	g.POST("", h.Create)
}
