package main

import (
	"log"

	"{{ .GoEasyModule }}/app"
	"{{ .GoEasyModule }}/config"

	"{{ .ModuleName }}/internal/bootstrap"
)

func main() {
	cfg := config.MustLoad("configs/config.yaml")
	application := app.New(cfg)
	application.RegisterHTTP(bootstrap.RegisterRoutes)
	if err := application.Run(); err != nil {
		log.Fatal(err)
	}
}
