module {{ .ModuleName }}

go 1.22

require (
	github.com/txbao/goeasy v0.2.0
	github.com/gin-gonic/gin v1.10.0
)
{{ if .ZdgfReplace }}

replace github.com/txbao/goeasy => {{ .ZdgfReplace }}
{{ end }}
