package dbx

import (
	"github.com/doug-martin/goqu/v9"
	"github.com/jmoiron/sqlx"
)

// DB 持久化执行上下文：sqlx 执行 + goqu 构建 SQL。
type DB struct {
	SQLX   *sqlx.DB
	Driver string
	Qu     goqu.DialectWrapper
}

func New(sqlxDB *sqlx.DB, driver string) *DB {
	if driver == "" {
		driver = "postgres"
	}
	return &DB{
		SQLX:   sqlxDB,
		Driver: driver,
		Qu:     Dialect(driver),
	}
}
