package {{ .ModuleSnake }}

import "github.com/gin-gonic/gin"

func RegisterCRUDRoutes(r *gin.RouterGroup, h *Handler) {
	g := r.Group("/{{ .ModuleSnake }}")
	g.GET("", h.List)
	g.PUT("/:id", h.Update)
	g.DELETE("/:id", h.Delete)
}
