package {{ .HTTPPackage }}

import "github.com/gin-gonic/gin"

func RegisterRoutes(r *gin.RouterGroup, h *Handler) {
	g := r.Group("{{ .HTTPRoutePrefix }}")
	g.GET("/:id", h.Get)
{{- if .ClientFullCRUD }}
	g.POST("", h.Create)
{{- end }}
}
