package {{ .EventSnake }}

import (
	"context"

	domain "{{ .ModuleName }}/internal/domain/{{ .Domain }}/event/{{ .EventSnake }}"
)

type Publisher struct{}

func (p *Publisher) Publish(ctx context.Context, evt domain.{{ .EventPascal }}) error {
	_ = ctx
	_ = evt
	return nil
}
